name: CI - AquaControle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-project:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Verificar estrutura do projeto
        run: |
          echo "Verificando pastas do projeto..."
          ls -la
          echo "CI executado com sucesso para o AquaControle"
